@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuente-saira: "Saira", sans-serif;

    --color-fondo: #F5EDED;
    --color-secundario: #6482AD;
    --color-terciario: #E2DAD6;
}

*{
    font-family: var(--fuente-saira);
    line-height: 150%;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.body{
    background-color: var(--color-fondo);
    height: 100vh;
    box-sizing: border-box;
}

.header{
    background-color: var(--color-fondo);
}

.logo{
    width: 10wh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 1%;
    margin-left: 1%;
}

main{
    display: flex;
    margin-left: 1%;
    background-color: var(--color-fondo);
    height: 79%;
    gap: 10px;
}

.texto__input{
    background-color: var(--color-fondo);
    border: none;
    color: var(--color-secundario);
    margin-top: 1%;
    margin-left: 26%;
    text-transform: lowercase;
    resize: none;
    font-weight: 400;
    font-size: 2rem;
    gap: 10px;
}
::placeholder{ color: var(--color-secundario);}
    .texto-input:focus{
        outline: none;
    }

.seccion__output{
    background: white;
    border: none;
    border-radius: 32px;
    color: var(--color-secundario);
    position: absolute;
    resize: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    width: 25%;
    height: 87%;
    margin-left: 60%;
    margin-top: -5%;
}
.mensaje:focus {
    outline: none;
}

.texto__output{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 1%;
    gap: 16px;
    width: 100%;
    height: 90%;
    margin-top: 4%;
    text-align: center;
}

.texto__output__textarea{
    background: none;
    resize: none;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    display: none;
    margin-bottom: 10%;
}

.texto__output__titulo{
    width: 60%;
    margin-top: 80%;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-secundario);
}

.texto__output__parrafo{
    width: 80%;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-secundario);
}

.seccion__output__imagen{
    position: relative;
    width: 70%;
    height: 35%;
    margin-top: 40%;
}

.botones{
    display: flex;
    margin-top: 1%;
    padding-left: 240px;
    gap: 24px;
    font-size: 1rem;
    font-weight: 400;
}

.boton__encriptar{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton__desencriptar{
    background-color: var(--color-terciario);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton__copiar{
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 67px;
    margin-top: 141%;
    position: absolute;
    width: 336px;
    background-color: transparent;
    display: none;
}

.indicacion {
    display: flex;
    align-items: center;
    margin-left: 240px;
}

.indicación__texto{
    color: var(--color-secundario);
    font-size: 0.75rem;
    font-weight: 400;
}

.indicacion__imagen{
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.footer{
    background-color: var(--color-secundario);
    font-size: 0.75rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
}

.datos__texto{
    background-color: transparent;
    color: var(--color-terciario);
    font-size: 1rem;
    margin-top: 1px;
    text-align: center;
}

.datos__link{
    background-color: var(--color-secundario);
    display: flex;
}

.datos__link__linkedin{
    height: 40px;
    width: 40px;
}

.datos__link__github{
    height: 37px;
    width: 37px;
}

@media (max-width: 1200px) {

}