@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Saira", sans-serif;
    line-height: 150%;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

.body{
    background-color: #F3F5FC
}

.header{
    background-color: #F3F5FC;
}

.logo{
    width: 5%;
    height: 5%;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 20px;
    margin-left: 20px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 180px;
    background-color: #F3F5FC;
}

.texto__input{
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    margin-top: 90;
    text-transform: lowercase;
    resize: none;
    font-weight: 400;
    font-size: 32px;
}
::placeholder{ color: #0A3871;}
    .texto-input:focus{
        outline: none;
    }

.texto__output{
    background: white;
    background-image: url(/imagenes/muneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #495057;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    resize: none;
    pointer-events: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
}

.boton__encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton__desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton__copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.indicacion {
    display: flex;
    align-items: center;
}

.indicación__texto{
    color: #495057;
    font-size: 0.75rem;
    font-weight: 400;
}

.indicacion__imagen{
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.footer{
    background-color: #0A3871;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
}

.datos__texto{
    background-color: transparent;
    color: #D8DFE8;
    font-size: 1rem;
    margin-top: 1px;
}

.datos__link{
    background-color: #0A3871;
}

.datos__link__linkedin{
    height: 40px;
    width: 40px;
}

.datos__link__github{
    height: 37px;
    width: 37px;
}

@media (max-width: 1200px) {

}